[submodule "TSFpaper"]
	path = TSFpaper
	url = https://github.com/ddz16/TSFpaper.git
[submodule "awesome-quant"]
	path = awesome-quant
	url = https://github.com/wilsonfreitas/awesome-quant.git
[submodule "awesome-quant-chinese"]
	path = awesome-quant-chinese
	url = https://github.com/thuquant/awesome-quant
